html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article, aside, footer, header, nav, section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

figcaption, figure, main {
    display: block;
}

figure {
    margin: 1em 40px;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace,monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

    a:active, a:hover {
        outline-width: 0;
    }

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b, strong {
    font-weight: inherit;
    font-weight: bolder;
}

code, kbd, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}

dfn {
    font-style: italic;
}

mark {
    background-color: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -.25em;
}

sup {
    top: -.5em;
}

audio, video {
    display: inline-block;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

img {
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

    [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
        border-style: none;
        padding: 0;
    }

    [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
        outline: 1px dotted ButtonText;
    }

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    display: inline-block;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto;
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

    [type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details, menu {
    display: block;
}

summary {
    display: list-item;
}

canvas {
    display: inline-block;
}

[hidden], template {
    display: none;
}

.olPopupCloseBox {
    background: url(http://openweathermap.org/img/glyphicons-halflings.png) no-repeat scroll 0 0 transparent !important;
    background-position: -48px -96px !important;
}

.olPopup {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    border-radius: 8px;
    padding: 4px;
}

p.weather_title {
    font-size: medium;
    font-weight: 700;
    color: #000;
}

weather_title_link {
    text-decoration: underline;
    color: red !important;
}

div.weather_block {
    float: left;
}

div.small_temp_block {
    display: block;
    width: 30px;
    overflow: visible;
}

div.big_temp {
    display: block;
    font-size: 30px;
    padding-top: 6px;
}

div.small_temp, div.small_temp_grey {
    float: left;
    text-align: center;
    font-size: small;
}

div.small_val, div.small_val_grey {
    display: block;
    clear: left;
    font-size: x-small;
}

div.small_val2, div.small_val2_grey {
    display: block;
    clear: left;
}

div.small_temp_grey, div.small_val2_grey, div.small_val_grey {
    color: gray;
}

img.weather_image {
    float: left;
    border: medium none;
    width: 50px;
    height: 45px;
    background: repeat scroll 0 0 transparent;
}

img.station_image {
    float: left;
    border: medium none;
    width: 25px;
    height: 25px;
    background: scroll 0 0 transparent;
    padding: 4px 12px 8px;
}

div.cur_weather_block, div.temp_block {
    float: left;
}

.vote-plus {
    background: url(/img/icons_vote_posts.gif) no-repeat;
    background-position: 0 0;
}

.vote-minus, .vote-plus {
    width: 11px;
    height: 15px;
    float: right;
}

.vote-minus {
    background: url(/img/icons_vote_posts.gif) no-repeat;
    background-position: -12px 0;
}

.switch .slide-button, .toggle p span {
    display: none;
}

@media only screen {
    .toggle {
        position: relative;
        padding: 0;
        margin-left: 100px;
    }

        .toggle label {
            position: relative;
            z-index: 3;
            display: block;
            width: 100%;
        }

        .toggle input {
            position: absolute;
            opacity: 0;
            z-index: 5;
        }

        .toggle p {
            position: absolute;
            left: -100px;
            width: 100%;
            margin: 0;
            padding-right: 100px;
            text-align: left;
        }

            .toggle p span {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 5;
                display: block;
                width: 50%;
                margin-left: 100px;
                text-align: center;
            }

                .toggle p span:last-child {
                    left: 50%;
                }

        .toggle .slide-button {
            position: absolute;
            right: 0;
            top: 0;
            z-index: 4;
            display: block;
            width: 50%;
            height: 100%;
            padding: 0;
        }

    .switch {
        position: relative;
        padding: 0;
    }

        .switch input {
            position: absolute;
            opacity: 0;
        }

        .switch label {
            position: relative;
            z-index: 2;
            float: left;
            width: 50%;
            height: 100%;
            margin: 0;
            text-align: center;
        }

        .switch .slide-button {
            position: absolute;
            top: 0;
            left: 0;
            padding: 0;
            z-index: 1;
            width: 50%;
            height: 100%;
        }

        .switch input:last-of-type:checked ~ .slide-button {
            left: 50%;
        }

        .switch.switch-three .slide-button, .switch.switch-three label {
            width: 33.3%;
        }

        .switch.switch-three input:checked:nth-of-type(2) ~ .slide-button {
            left: 33.3%;
        }

        .switch.switch-three input:checked:last-of-type ~ .slide-button {
            left: 66.6%;
        }

        .switch.switch-four .slide-button, .switch.switch-four label {
            width: 25%;
        }

        .switch.switch-four input:checked:nth-of-type(2) ~ .slide-button {
            left: 25%;
        }

        .switch.switch-four input:checked:nth-of-type(3) ~ .slide-button {
            left: 50%;
        }

        .switch.switch-four input:checked:last-of-type ~ .slide-button {
            left: 75%;
        }

        .switch.switch-five .slide-button, .switch.switch-five label {
            width: 20%;
        }

        .switch.switch-five input:checked:nth-of-type(2) ~ .slide-button {
            left: 20%;
        }

        .switch.switch-five input:checked:nth-of-type(3) ~ .slide-button {
            left: 40%;
        }

        .switch.switch-five input:checked:nth-of-type(4) ~ .slide-button {
            left: 60%;
        }

        .switch.switch-five input:checked:last-of-type ~ .slide-button {
            left: 80%;
        }

    .switch, .toggle {
        display: block;
        height: 30px;
    }

        .switch *, .toggle * {
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box;
        }

        .switch .slide-button, .toggle .slide-button {
            display: block;
            transition: all .3s ease-out;
        }

        .switch label, .toggle label, .toggle p {
            line-height: 30px;
            vertical-align: middle;
        }

        .toggle input:checked ~ .slide-button {
            right: 50%;
        }

        .switch input:focus + label, .toggle input:focus ~ .slide-button {
            outline: 1px dotted #888;
        }

    .switch, .toggle {
        -webkit-animation: a infinite 1s;
    }

    @-webkit-keyframes a {
        0% {
            position: relative;
        }

        to {
            position: relative;
        }
    }

    .candy {
        background-color: #2d3035;
        color: #fff;
        font-weight: 700;
        text-align: center;
        text-shadow: 1px 1px 1px #191b1e;
        border-radius: 3px;
        box-shadow: inset 0 2px 6px rgba(0,0,0,.3),0 1px 0 hsla(0,0%,100%,.2);
    }

        .candy input:checked + label {
            color: #333;
            text-shadow: 0 1px 0 hsla(0,0%,100%,.5);
        }

        .candy .slide-button {
            border: 1px solid #333;
            background-color: #70c66b;
            background-image: linear-gradient(top,hsla(0,0%,100%,.2),transparent);
            box-shadow: 0 1px 1px rgba(0,0,0,.2),inset 0 1px 1px hsla(0,0%,100%,.45);
            border-radius: 3px;
        }

        .candy p {
            color: #333;
            text-shadow: none;
        }

        .candy span {
            color: #fff;
        }

        .candy.blue .slide-button {
            background-color: #38a3d4;
        }

        .candy.yellow .slide-button {
            background-color: #f5e560;
        }

    .android {
        background-color: #b6b6b6;
        color: #fff;
    }

        .android.toggle {
            border: 2px solid #b6b6b6;
        }

        .android.switch {
            overflow: hidden;
        }

            .android.switch .slide-button {
                background-color: #279fca;
                -webkit-transform: skew(20deg) translateX(10px);
                transform: skew(20deg);
            }

        .android.toggle .slide-button {
            border-radius: 2px;
            background-color: #848484;
        }

        .android.toggle input:first-of-type:checked ~ .slide-button {
            background-color: #279fca;
        }

        .android.switch input:first-of-type:checked ~ .slide-button {
            -webkit-transform: skew(20deg) translateX(-10px);
            transform: skew(20deg) translateX(-10px);
        }

        .android p {
            color: #333;
        }

        .android span {
            color: #fff;
        }

        .android.switch, .android span {
            text-transform: uppercase;
        }

    .ios {
        background: linear-gradient(top,#cfcfcf,#efefef 50%,#f9f9f9 0,#fefefe);
        box-shadow: inset 0 2px 2px #b6b6b6,inset 3px 0 3px #b6b6b6;
        border: 1px solid #efefef;
        border-radius: 3px;
        color: #7f7f7f;
        font: 700 14px sans-serif;
        text-align: center;
        text-shadow: none;
    }

        .ios.toggle .slide-button {
            border: 1px solid #919191;
            background: linear-gradient(top,#cdcdcd,#fbfbfb);
            border-radius: 3px;
            box-shadow: inset 0 1px 0 #f0f0f0;
        }

        .ios.switch input:checked + label, .ios.toggle input:first-of-type:checked ~ p span:first-child {
            color: #fff;
            text-shadow: 0 -1px 0 #1b3b6f;
        }

        .ios.switch .slide-button, .ios.toggle input:first-of-type:checked ~ .slide-button {
            background: linear-gradient(top,#3672dc,#4085ec 50%,#4d8fef 0,#76adfc);
            border-radius: 3px;
            border: 1px solid #1654b5;
            text-align: center;
            color: #fff;
            font: 700 14px sans-serif;
            text-shadow: 0 -1px 0 #1b3b6f;
        }

        .ios.toggle p span {
            color: #7f7f7f;
        }
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

    .fade.in {
        opacity: 1;
    }

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
    filter: alpha(opacity=20);
}

    .close:focus, .close:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .5;
        filter: alpha(opacity=50);
    }

button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.modal, .modal-open {
    overflow: hidden;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 7;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

    .modal.fade .modal-dialog {
        -webkit-transform: translateY(-25%);
        transform: translateY(-25%);
        transition: -webkit-transform .3s ease-out;
        transition: transform .3s ease-out;
        transition: transform .3s ease-out,-webkit-transform .3s ease-out;
    }

    .modal.in .modal-dialog {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    background-clip: padding-box;
    outline: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
    background-color: #000;
}

    .modal-backdrop.fade {
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .modal-backdrop.in {
        opacity: .5;
        filter: alpha(opacity=50);
    }

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.42857143px;
}

    .modal-header .close {
        margin-top: -2px;
    }

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

    .modal-footer .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0;
    }

    .modal-footer .btn-group .btn + .btn {
        margin-left: -1px;
    }

    .modal-footer .btn-block + .btn-block {
        margin-left: 0;
    }

@media (min-width:768px) {
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .modal-content {
        box-shadow: 0 5px 15px rgba(0,0,0,.5);
    }

    .modal-sm {
        width: 300px;
    }
}

@media (min-width:992px) {
    .modal-lg {
        width: 900px;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes b {
    0%,to {
        -webkit-transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        -webkit-transform: translateX(10px);
    }
}

@keyframes b {
    0%,to {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,40%,60%,80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}

.shake {
    -webkit-animation-name: b;
    animation-name: b;
}

.modal {
    display: block;
}

.modal-content > .close {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (min-width:768px) {
    .modal-sm > .modal-dialog {
        width: 300px;
    }
}

@media (min-width:992px) {
    .modal-lg > .modal-dialog {
        width: 900px;
    }
}
